/* src/auth.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  padding: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: normal; /* Removed bold */
  font-size: 14px; /* Adjusted font size */
  color: #333;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #61dafb;
}

button {
  padding: 12px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2b8ac7;
}

p {
  margin-top: 15px;
  color: #666;
  font-size: 14px; /* Adjusted font size */
}

p a {
  color: #61dafb;
  text-decoration: none;
}
